<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">Username</ion-label>
    <ion-input type="text" [(ngModel)]="username"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Password</ion-label>
    <ion-input type="password" [(ngModel)]="password"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Age</ion-label>
    <ion-input type="text" [(ngModel)]="age"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Email</ion-label>
    <ion-input type="email" [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">City</ion-label>
    <ion-input type="text" [(ngModel)]="city"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Phone Number</ion-label>
    <ion-input type="tel" [(ngModel)]="phoneNumber"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="register()">Register</ion-button>
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
</ion-content>
